.header-main {
    display: flex;
}

.left-side-header {
    background-color: rgb(14, 58, 39);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
}

.header-phrase {
    font-family: Playfair Display;
    font-size: 65px;
    line-height: 80px;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
}

.header-second-phrase {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    margin-left: 20px;
    text-align: center;
    width: 400px;
}

.contact-us-button {
    background-color: rgb(189, 37, 40);
    color: rgb(244, 244, 245);
    font-family: Roboto;
    font-size: 20px;
    border: none;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

.header-image {
    width: 800px;
}

